/* General Styles */
body {
    margin: 0;
    padding: 0;
    background: #ffe;
    font-family: "Be Vietnam Pro", sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #231F20;
    overflow: auto;
}

/* Links */
a {
    color: #000;
    font-size: 14px;
}

/* Main Container */
#main {
    width: 100%;
}

/* Wrapper */
#wrap {
    position: absolute;
    width: auto;
    height: auto;
    margin: 10px auto 0;
}

/* Text Section */
#text {
	font-size: 45px;
    position: absolute;
	line-height: 1.8; /* More space between lines */
    left: 30px;
    top: 800px;
}

/* Hidden Code Block */
#code {
	margin-right: 10px;
    display: none;
    font-size: 100%;
}

/* Clock Box */
#clock-box {
	padding: 20px;
	background-color: pink;
    position: absolute;
    top: 2200px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 54px;
    display: none;
    white-space: nowrap; /* Prevents wrapping */
}


#clock-box a {
    text-align: center;
    font-size: 35px;
    text-decoration: none;
}

/* Clock */
#clock {
}

#clock .digit {
	font-weight: 900;
    font-size: 64px;
}

/* Canvas */
#canvas {
    margin: 0 auto;
    width: 1100px;
    height: auto;
}

/* Error Message */
#error {
    margin: 60px auto 0;
    text-align: center;
    display: none;
}

/* Utility Classes */
.hand {
    cursor: pointer;
}

.say {
    margin-left: 5px;
}

.space {
    margin-right: 150px;
}
