/* General Styles */
body {
    margin: 0;
    padding: 0;
    background: #ffe;
    font-size: 14px;
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
	font-variation-settings:
		"wdth" 100;
    color: #231F20;
    overflow: auto;
}

/* Links */
a {
    color: #000;
    font-size: 14px;
}

/* Main Container */
#main {
    width: 100%;
}

/* Wrapper */
#wrap {
    position: relative;
    width: 1100px;
    height: 680px;
    margin: 10px auto 0;
}

/* Text Section */
#text {
    position: relative;
    width: 350px;
    height: 560px;
    left: 50px;
    top: 80px;
}

/* Hidden Code Block */
#code {
    display: none;
    font-size: 16px;
}

/* Clock Box */
#clock-box {
    position: relative;
    left: 60px;
    top: 550px;
    font-size: 28px;
    display: none;
}

#clock-box a {
    font-size: 28px;
    text-decoration: none;
}

/* Clock */
#clock {
    margin-left: 48px;
}

#clock .digit {
    font-size: 64px;
}

/* Canvas */
#canvas {
    margin: 0 auto;
    width: 1100px;
    height: auto;
}

/* Error Message */
#error {
    margin: 60px auto 0;
    text-align: center;
    display: none;
}

/* Utility Classes */
.hand {
    cursor: pointer;
}

.say {
    margin-left: 5px;
}

.space {
    margin-right: 150px;
}
